/* public/css/dashboard.css */

body {
    font-family: Arial, sans-serif;
    background-color: #FFA500; /* Warna oranye */
    color: #fff; /* Warna teks putih */
    text-align: center;
}


.admin-dashboard {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
}

nav ul li a:hover {
    color: #0056b3;
}

.dashboard-content {
    margin-top: 20px;
}
