/* Mengatur tampilan body dan html untuk memusatkan konten */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffa500; /* Warna latar belakang oranye */
    font-family: Arial, sans-serif; /* Font yang digunakan */
}

/* Gaya untuk kontainer login */
.login-container {
    width: 100%;
    max-width: 400px; /* Lebar maksimum kontainer */
    padding: 40px;
    background-color: #ffffff; /* Warna latar belakang kontainer putih */
    border-radius: 8px; /* Sudut melengkung */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Bayangan */
    text-align: center; /* Memusatkan teks di dalam kontainer */
}

/* Gaya untuk input field */
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%; /* Mengisi lebar kontainer */
    padding: 10px; /* Padding dalam input */
    margin-bottom: 15px; /* Jarak antar input */
    border: 1px solid #ddd; /* Border input */
    border-radius: 4px; /* Sudut melengkung */
    box-sizing: border-box; /* Memastikan padding dan border dihitung dalam lebar total */
    font-size: 16px; /* Ukuran font */
}

/* field email */
.login-container input[type="text"],
.login-container input[type="email"] {
    width: 100%; /* Mengisi lebar kontainer */
    padding: 10px; /* Padding dalam input */
    margin-bottom: 15px; /* Jarak antar input */
    border: 1px solid #ddd; /* Border input */
    border-radius: 4px; /* Sudut melengkung */
    box-sizing: border-box; /* Memastikan padding dan border dihitung dalam lebar total */
    font-size: 16px; /* Ukuran font */
}

/* Gaya untuk tombol login */
.login-container button[type="submit"] {
    display: block; /* Menempatkan tombol dalam baris baru */
    width: 100%; /* Mengisi lebar kontainer */
    padding: 10px; /* Padding dalam tombol */
    background-color: #4caf50; /* Warna latar belakang tombol */
    color: #ffffff; /* Warna teks tombol */
    border: none; /* Menghilangkan border default */
    border-radius: 4px; /* Sudut melengkung tombol */
    font-size: 16px; /* Ukuran font tombol */
    cursor: pointer; /* Menampilkan pointer saat hover */
    margin-top: 15px; /* Jarak dari elemen di atasnya */
    transition: background-color 0.3s ease; /* Transisi warna saat hover */
}

/* Gaya saat tombol dihover */
.login-container button[type="submit"]:hover {
    background-color: #45a049; /* Warna saat hover */
}

/* Gaya untuk pesan error */
.error-messages {
    color: red; /* Warna teks pesan error */
    margin-top: 15px; /* Jarak dari elemen di atasnya */
    text-align: left; /* Rata kiri */
}

/* Gaya untuk tampilan mobile */
@media (max-width: 480px) {
    .login-container {
        padding: 20px; /* Mengurangi padding di mobile */
    }

    .login-container h2 {
        font-size: 24px; /* Ukuran font yang lebih kecil di mobile */
    }
}
